.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-header {
	display: none;
}

.contenu-conference {
	display: flex;
	flex-direction: row-reverse;
	
	
	img {
		width: 200px;
		height: 200px;
		min-width: 200px;
		min-height: 200px;
	}
	.texte-conference {
		margin-left: 3%;
	}
}

.section-nouvelles {
	display: flex;
	justify-content: space-around;
}

